<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Air Pollution Visualization</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <div class="content_container">
    <div class="cities">
        <p>Air Quality Index Visualizer for people suffering from asthma.<br>Click on city's name to view the air quality in it's different districts.</p><br>
        <a href="#" id="0" class="city-link">BERLIN</a><br>
        <a href="#" id="1" class="city-link">HAMBURG</a><br>
        <a href="#" id="2" class="city-link">MÜNCHEN</a><br>
        <a href="#" id="3" class="city-link">KÖLN</a><br>
        <a href="#" id="4" class="city-link">FRANKFURT AM MAIN</a><br>
        <a href="#" id="5" class="city-link">STUTTGART</a><br>
        <a href="#" id="6" class="city-link">DÜSSELDORF</a><br>
        <a href="#" id="7" class="city-link">ESSEN</a><br>
        <a href="#" id="8" class="city-link">LEIPZIG</a>
    </div><br>
</div>


    <div>
    <h1>Upload JSON File</h1>
    <form action="/uploadfile/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".json" required>
        <button type="submit">Upload File</button>
        
    </form>
    <a href="#" id="9" class="city-link">NEWLY ADDED CITY</a>
</div>
<script src="../static/script.js"></script>
</body>
</html>
